/* Top Banner - Announcement */
.top-banner {
  background: #5F22D9;
  background: linear-gradient(90deg, #5F22D9 0%, #E0028E 100%);  
  color: #fff;
  font-size: 0.875rem;
  letter-spacing:1.45px;
  line-height: 150%;
  text-align: left;
  max-height:20rem;
  position: sticky;
  top: 0;
  transition: max-height 0.5s;
  z-index: 999;
  position: relative;
}


#tb-close {
  position: absolute;
  right: 20px;
  top: 50%;
  top: 56%;
  transform: translateY(-50%);
  cursor: pointer;
}
.tb-link {
  /* text-decoration: underline; */
  color: #b2c8f8;
}
.top-banner .content {
  padding:0.5rem 1rem;
  width:80%;
}

.tb-flags-black button span {
  margin-right: 0;
  padding: 0 0.25rem;
  color: black;
}


.tb-flags-black button {
  border: 0;
}

.tb-flags button {
  border: 0;
}
.tb-flags button span {
  margin-right: 0;
  padding: 0 0.25rem;
  color: white;
}
.tb-flags button::after {
  border-top: 5px solid #fbfbfb;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0;
}
.tb-flags button[aria-expanded="true"]::after {
  border-top: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fbfbfb;
}
.tb-flags > ul{
  margin-top:0px;
  border-radius:0px;
  border-radius: 0 0 4px 4px;
}

.tb-flags ul {
  color: #333333;
  z-index: 999;
  border: 0;
}

/* For 'sm' (640px and above) */
@media (min-width: 640px) {

}

/* For 'md' (768px and above) */
@media (min-width: 768px) {
  .top-banner{
    display:block;
  }
  .top-banner{
    text-align:center;
  }
  .top-banner .content{
    width:100%;
  }
  
}

/* For 'lg' (1024px and above) */
@media (min-width: 1024px) {
  .top-banner{
    display:block;
  }
  .top-banner{
    text-align:center;
  }
  .top-banner .content{
    width:100%;}
  }
/* For 'xl' (1280px and above) */
@media (min-width: 1280px) {
  .top-banner{
    display:block;
  }
  .top-banner{
    text-align:center;
  }
  .top-banner .content{
    width:100%;}
}

/* For '2xl' (1400px and above) */
@media (min-width: 1400px) {
  .top-banner{
    display:block;
  }
  .top-banner{
    text-align:center;
  }
  .top-banner .content{
    width:100%;}
}

/* For '3xl' (1536px and above) */
@media (min-width: 1536px) {
  .top-banner{
    display:block;
  }
  .top-banner .tb-logo {
    position: relative;
    top: 3px;
  }
  .top-banner{
    text-align:center;
  }
  .top-banner .content{
    width:100%;
  }
}







