.commonCardThree {
  overflow: hidden;
  position: relative;
}

.commonCardThree .topImage {
  opacity: 1;
  transition-duration: 0.5s;
}

.commonCardThree:hover .cardbody {
  /* transform: translateY(-100%); */
  position: absolute;
  top: 0;
  min-height: 540px;
  max-height: 540px;
  transition-timing-function: ease-out;
}

.commonCardThree .isArrow {
    position: absolute;
    bottom: 8px;
    width: 100%;
    right: 2%;
  }

.commonCardThree .cardHeading {
    min-height: 72px;
  }

.commonCardThree .cardDesc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.commonCardThree:hover .cardDesc {
    display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }

/* .commonCardThree .cardBody {
    position: relative;
  }
  
  .commonCardThree .cardTitle {
    transition-timing-function: ease-out;
    transition: 0.25s;
  }
  
  .commonCardThree:hover .cardTitle {
    transition: 0.25;
    opacity: 0;
    transition-timing-function: ease-out;
  }
  
  .commonCardThree .cardIcon {
    transition-timing-function: ease-out;
    transition: 0.25s;
  }
  
  .commonCardThree:hover .cardIcon {
    transition: 0.25;
    opacity: 0;
    transition-timing-function: ease-out;
  }
  
  .commonCardThree .cardHeading {
    transition-timing-function: ease-out;
    transition: 0.25s;
  }
  
  .commonCardThree:hover .cardHeading {
    transition: 0.7;
    transform: translateY(-70px);
    font-size: 28px;
    line-height: normal;
  }
  
  .commonCardThree .additionalDataWrapper {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    display: none;
    position: absolute;
    top: 30%;
    padding-right: 34px;
  }
  
  .commonCardThree:hover .additionalDataWrapper {
    transition: 2s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    display: block;
  } */
